---
layout: page
title: "About"
description: "Hey, this is Frozen Cloud."
header-img: "img/about-bg.jpg"
---

<!-- Language Selector -->
<select onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英文 English </option>
</select>

<!-- Chinese Version -->
<div class="zh post-container">

    <!--copied from markdown -->
    <blockquote><p>为这个世界留下我存在的痕迹。<br>
    至今怀太白，仗剑游神州。</p></blockquote>

    <p>Hey，我是<strong>冻云</strong>，程序员，长久以来一直神思诗仙李白，希望有朝一日能够游遍九州。</p>

    <p>这是最好的时代，也是最坏的时代。</p>
    <p>如果不是在这个时代，如果是在封建王朝的时代，也许自己是无缘书本的。东北还是
    荒芜之地，那么可能自己就是个渔猎部落的半野人，二十几岁一命呜呼；又或者农民出身，
    种一辈子的地，成年了便与邻村门当户对、素未谋面的女人结婚生子；如果不是在这个
    时代，如果是在未来的某个时代，也许共产主义已经实现，拥有无限物质基础，可以从心
    所欲的选择想做的事情。</p>
    <p>然而假设不会发生，人只能活在当下。读了二十来年的书，知道了许多本无需知道的，不
    用关心的事情。向上成不了支撑王朝的10%不到的精英读书人，向下做不到农民脸朝黄土背朝天只关心土地。
    这正是这个时代赋予每个普通人的迷茫。明明知道那么多，却什么也做不到。知道“权力”却无法获得，知
    道“财富”却难以拥有。</p>
    <p>这世上最无力就是，明知道海市蜃楼是虚幻的，却还要被无数人推着你向那个方向走，而你也无法停下。</p>
    <p>也正是如此，李白才会被无数文人骚客追捧誉为诗仙。贵妃研磨、力士脱靴，“天子呼来不上船”，世上最
    洒脱不过李太白！思慕李白，无数个夜晚跟随这李白从张掖到青城山，从江南到陇右。渐渐的无法在满足于这
    样的神游九州，想要亲自走走，亲眼看看的心思已经无法消退。</p>
    <p>人过留名，雁过留声。千年以后谁来证明我们曾经存在过呢？</p>

</div>

<!-- English Version -->
<div class="en post-container">
    <blockquote><p>Leave traces of my existence to the world .</p></blockquote>

    <p>I am <strong>Frozen cloud</strong>，you can call me nickname <strong>fc</strong>. Welcome here.</p>

</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }

    // init
    _render();
</script>



{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
    {% if site.duoshuo_username == "huxblog" %}
        data-thread-id="1187623191091085319"
    {% else %}
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = '{{site.duoshuo_username}}';

    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
